body {
	max-width: 80vw;
	margin: 0 auto;
}

details {
	margin-top: 1rem;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 1rem 1rem;
	background: white;
	word-wrap: break-word
}

details summary span.timestamp {
	margin: 0.5rem;
	padding-right: 0.5rem;
	border-right: 2px solid #ccc;
}

#critical details {
	box-shadow: 2px 2px 2px red;
}

div.details {
	margin-top: 1rem;
}

pre {
	white-space: pre-wrap;
}

.container {
	display: flex;
	height: 100vh;
}

.left,
.right {
	flex: 1;
	padding: 20px;
}
